.emoji-editor {
  display: flex;
  align-items: center;
  &__smile-btn, &__actions {
    display: flex;
    align-items: center;
    z-index: 100;
    position: absolute;
    .ant-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: auto;
      cursor: pointer;
      &:hover {
        svg {
          color: #2C2C2C;
          transition: 0.15s ease-in-out;
        }
      }
    }
  }
  &__smile-btn {
    left: 8px;
  }
  &__emoji-picker {
    z-index: 1;
    position: absolute;
    bottom: 53px;
    left: -14px;
  }
  &__actions {
    right: 8px;
    .ant-btn {
      .upload-btn {
        display: flex;
        height: 18px;
      }
    }
  }
  .pell {
    width: 100%;
    .pell-actionbar {
      display: none;
    }
    .pell-content {
      width: 100%;
      height: 35px;
      padding-left: 45px;
      padding-right: 110px;
      color: #8B8B8B;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: #E9E9E9;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #D3D3D3;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  .ant-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anticon {
    svg {
      font-size: 18px;
      color: #B4B4B4;
      transition: 0.15s ease-in-out;
    }
  }
}


.react-input-emoji--wrapper {
  height: 45px;
  display: flex;
  overflow: hidden;
  flex: 1;
  position: relative;
  padding-right: 0;
  vertical-align: baseline;
  outline: none;
  margin: 0;
  padding: 0;
  border: 1px solid #E9E9E9;
}

.react-input-emoji--input {
  font-weight: 400;
  max-height: 100px;
  min-height: 20px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 1;
  width: 100%;
  user-select: text;
  text-align: left;
  padding-left: 45px;
  padding-right: 110px;
  color: #8B8B8B;
  line-height: 45px;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #E9E9E9;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #D3D3D3;
  }
  &:focus {
    box-shadow: none;
  }
}

.react-input-emoji--placeholder {
  color: #a0a0a0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.08s linear;
  user-select: none;
  opacity: 1;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 45px;
  display: flex;
  align-items: center;
  width: 100%;
}
